{% extends 'Record_tem/Home.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Add Student Page</title>
{% endblock %}


{% block content %}

    <!-- <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit">Register</button>
    </form> -->

    <div class="signup-form">
        <form method="post">
            <h2>Register student</h2>
            {% csrf_token %}
            {{form|crispy}}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
        </form>
        <div class="form-group">
        <a href="{% url 'Showstudent' %}"><button class="btn btn-success btn-lg btn-block">Show Student</button></a>
    </div>
    </div>
    
{% endblock %}