{% extends 'Record_tem/Home.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Show Lecturer Page</title>
{% endblock %}

{% block content %}
<div class="container" style="padding:30px 20px; background-color: rgb(161, 223, 126);">
    <table class="table table-striped">
        <tr>
            <th>Lecturer Department</th>
            <th>Lecturer Name</th>
            <th>Lecturer Salary</th>
            <th>Lecturer Subject</th>
            <th>Action</th>
            
        </tr>
        {% for i in stu %}
            <tr>
            <td>
                {% for j in i.department.all %}
                    {{j}},
                {% endfor %}
            </td>
            <td>{{i.LName}}</td>
            <td>{{i.Sal}}</td>
            <td>{{i.Lsub}}</td>
            <td> <a href="{% url 'Updatelecture' i.id %}" class="edit" title="Edit" data-toggle="tooltip" style="margin-left: 5%; color: #fbff00;"><i class="material-icons" style="font-size: 25px; padding: auto; margin-right: 20%;">&#xE254;</i></a>
                <a href="{% url 'Deletelecture' i.id %}" class="delete" title="Delete" data-toggle="tooltip" style="margin-left: 5%; color: #ff0b0b;"><i class="material-icons" style="font-size: 25px; padding: auto;">&#xE872;</i></a>
            </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}